body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 234, 234);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
  margin-left: 100px;
  margin-right: 100px;
}
.card {
  text-align: left;
  margin: 5px 5px;
}
.title {
  text-align: center;
  padding: 70px 0px 40px 0px;
  height: 60vh;
  color: whitesmoke;
  background-color: teal;
  overflow: hidden;
  position: relative;
}
.fixTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.filter {
  margin-top: 10px;
  text-align: center;
  height: fit-content;
}
.create-form {
  width: 350px;
  position: fixed;
  top: 25%;
  left: 35%;
  z-index: 10;
  background-color: white;
  padding: 10px;
}
.main-content {
  text-align: center;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}
.navbar-item {
  margin-right: 10px;
  color: white !important;
  opacity: 0.8;
}
.navbar-item:hover {
  opacity: 1;
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #343a40;
}
.event-name {
  margin-top: 20px;
  font-size: 1.7rem;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
}
.event-date {
  font-size: 1.5rem;
  font-weight: 400;
}
